.container {
    background-color: orange;
    gap: 20px;
  
  }
  
  .Meny {
    border: 2px solid blue;
    border-radius: 5px;
    background-color: yellow;
    margin: 3px;
    padding: 1em;
    display: flex;
    flex-direction: row;
  }
  
  .My-collection {
    display: flex;
    flex: 1;
    border: 1px solid blue;
    border-radius: 5px;
  }
  
  .Shop {
    display: flex;
    flex: 1;
    border: 1px solid blue;
    border-radius: 5px;
  }
  
  .pokemoner {
    border: 2px solid blue;
    border-radius: 5px;
    background-color: yellow;
    margin: 3px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .Play {
    border: 2px solid blue;
    border-radius: 5px;
    background-color: yellow;
    margin: 3px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  
  .lista {
    border: 3px solid blue;
    border-radius: 3px;
    background-color: orange;
    margin: 1px;
    padding: 5em;
    min-width: 10px;
    max-width: 800px;
    display: flex;
    flex-grow: 1;
    flex-basis: 10em;
  }
  
  .img {
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
  }
  
  input[type="text"] {
    border: 2px solid orange;
    margin: 1em;
    padding: 5px;
    width: 13em;
  }
  
  input[type="search"] {
    border: 2px solid orange;
    margin: 0em;
    padding: 2px;
  }
  
  input[type="search"]:hover {
    background-color: blue;
  }

  .team-member {
    border: 1px solid blue;
    display: flex;
  }

  .Nickname-details{
    font-family:sans-serif;
    text-align:center;
    border: 1px solid blue;
    display: flex;
  }